.htaccess
!/conf/.htaccess
!/lib/.htaccess
!/doc/.htaccess
!/locale/.htaccess
!/admin/lib/.htaccess
!/admin/tpl/.htaccess
!/setup/inc/.htaccess
!/setup/lib/.htaccess
!/setup/sql/.htaccess
!/setup/tools/.htaccess
!/setup/tpl/.htaccess
!/tests/.htaccess
!/theme/default/tpl/.htaccess
.DS_Store
.idea
/vendor
/node_modules
/assets/vendor
/conf/*.cfg.php
/conf/*.json
/conf/.installed
/conf/.installing
/conf/.setup_pending
/theme/default/slim/customRoutes.inc.php
*.log
